@tailwind base;
@tailwind components;
@tailwind utilities;
@import './prism.css';

#toc ul {
  list-style-type: none;
}

#toc a {
  text-decoration: none;
}

#toc a:hover {
  color: antiquewhite;
  text-decoration: underline;
}
